---
import SessionInfo from './SessionInfo.astro';
import axios from 'axios';

const { data } = await axios.get('https://fortee.jp/platform-engineering-kaigi-2024/api/proposals');
const sessionsList = data.proposals;
---

<section class="py-10 md:py-14">
  <div class="mb-10 text-center max-w-3xl mx-auto">
    <p class="text-base text-gray-600 font-semibold tracking-wide uppercase">Proposals</p>
    <h2 class="text-4xl md:text-5xl font-bold leading-tight tracking-tight">プロポーザル一覧</h2>
  </div>
  <div class="bg-gray-100 py-8 px-2">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 max-w-6xl mx-auto">
      {
        sessionsList.length > 0 ? (
          sessionsList
            .filter((session) => session.speaker.name !== 'test user')
            .map((session) => (
              <SessionInfo
                id={session.uuid}
                url={session.url}
                title={session.title}
                abstract={session.abstract}
                speaker={session.speaker}
              />
            ))
        ) : (
          <div class="px-4 py-5 flex-auto">
            <h6 class="text-xl font-semibold">近日公開！</h6>
          </div>
        )
      }
    </div>
  </div>
</section>
