---
import { Picture } from 'astro:assets';
import { getCollection } from 'astro:content';

export interface Props {
  isRecPeriod?: boolean;
}

const { isRecPeriod = false } = Astro.props;

// rank毎にコンテンツを取得
const ranks = ['platinum', 'gold', 'silver', 'bronze', 'lunch'];
const results = await Promise.all(
  ranks.map(rank => getCollection('pek2024-job-boards', (board) => board.data.rank === rank))
);

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/pek2024/sponsor/logo/*.{jpeg,jpg,png,gif}')
results.forEach(result => {
  result.forEach(sponsor => {
    if (!images[sponsor.data.image]) throw new Error(`"${sponsor.data.image}" does not exist in glob: "/src/assets/images/pek2024/teamMemberes/*.{jpeg,jpg,png,gif}"`);
  });
})


const [
  platinumSponsors,
  goldSponsors,
  silverSponsors,
  bronzeSponsors,
  lunchSponsors,
] = results.map((result) => {
  return result.map((sponsor) => {
    console.log(sponsor.data);
    return {
      src: sponsor.data.image,
      name: sponsor.data.name,
      href: '#'
    };
  });
});
---

<section class="py-16 md:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="mb-10 md:mx-auto text-center md:mb-12 max-w-3xl">
      <p class="text-base dark:text-blue-200 font-semibold tracking-wide uppercase"></p>
      <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4">Sponsors</h2>
      <p class="max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400"></p>
    </div>
  </div>
  <div class="mx-auto max-w-7xl p-4 md:px-8 font-medium">
    {
      isRecPeriod ? (
        <div class="container mx-auto max-w-xl lg:max-w-2xl">
          <p>
            <strong>
              ※ 2024/04/01 18:00 を持ちましてすべてのスポンサー様の募集を締め切りました。
              <br />
              多数のご応募ありがとうございました。
            </strong>
          </p>
          <br />
          <p>現在 ご応募いただいたスポンサー様の掲載準備を行っております。</p>
          <p>掲載まで今しばらくお待ちいただけますようお願い申し上げます。</p>
        </div>
      ) : (
        <div class="my-8">
          <h2 class='px-2 text-2xl font-bold mb-4 underline decoration-[#b2b19f]'>Platinum</h2>
          <div class='grid grid-cols-2 md:grid-cols-3 gap-4'>
            {platinumSponsors.map((sponsor) => {
              return <div class="p-2 md:p-4 border rounded-lg shadow-lg flex items-center justify-center h-48">
                <a href={sponsor.href} class="block">
                  <Picture 
                    src={images[sponsor.src]()}
                    alt={sponsor.name}
                    loading="lazy"
                    class="p-2 md:p-4 h-48 object-contain"
                  />
                </a>
              </div>
            })}
          </div>
        </div>
        <div class="my-8">
          <h2 class='px-2 text-2xl font-bold mb-4 underline decoration-amber-300'>Gold</h2>
          <div class='grid grid-cols-2 md:grid-cols-4 gap-4'>
            {goldSponsors.map((sponsor) => {
              return <div class="p-2 md:p-4 border rounded-lg shadow-lg flex items-center justify-center h-24 md:h-36">
                <a href={sponsor.href} class="block">
                  <Picture 
                    src={images[sponsor.src]()}
                    alt={sponsor.name}
                    loading="lazy"
                    class="p-2 md:p-4 h-24 md:h-36 object-contain"
                  />
                </a>
              </div>
            })}
          </div>
        </div>
        <div class="my-8">
          <h2 class='px-2 text-2xl font-bold mb-4 underline decoration-stone-200'>Silver</h2>
          <div class='grid grid-cols-3 md:grid-cols-4 gap-4'>
            {silverSponsors.map((sponsor) => {
              return <div class="p-2 md:p-4 border rounded-lg shadow-lg flex items-center justify-center md-h-24">
                <a href={sponsor.href} class="block">
                  <Picture 
                    src={images[sponsor.src]()}
                    alt={sponsor.name}
                    loading="lazy"
                    class="p-2 md:h-24 object-contain"
                  />
                </a>
              </div>
            })}
          </div>
        </div>
        <div class="my-8">
          <h2 class='px-2 text-2xl font-bold mb-4 underline decoration-yellow-600'>Bronze</h2>
          <div class='grid grid-cols-3 md:grid-cols-5 gap-4'>
            {bronzeSponsors.map((sponsor) => {
              return <div class="p-2 md:p-4 border rounded-lg shadow-lg flex items-center justify-center md:h-24">
                <a href={sponsor.href} class="block">
                  <Picture 
                    src={images[sponsor.src]()}
                    alt={sponsor.name}
                    loading="lazy"
                    class="p-2 md:h-24 object-contain"
                  />
                </a>
              </div>
            })}
          </div>
        </div>
        <div class="my-8">
          <h2 class='px-2 text-2xl font-bold mb-4 underline decoration-lime-300'>Lunch</h2>
          <div class='grid grid-cols-3 md:grid-cols-5 gap-4'>
            {lunchSponsors.map((sponsor) => {
              return <div class="p-2 md:p-4 border rounded-lg shadow-lg flex items-center justify-center">
                <a href={sponsor.href} class="block">
                  <Picture 
                    src={images[sponsor.src]()}
                    alt={sponsor.name}
                    loading="lazy"
                    class="p-2"
                  />
                </a>
              </div>
            })}
          </div>
        </div>
      )
    }
  </div>
</section>
