---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

export interface Props {
  name: string;
  url: string;
  imagePath: string;
}

const { name, url, imagePath } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/pek2024/teamMembers/*.{jpeg,jpg,png,gif}'
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "/src/assets/images/pek2024/teamMemberes/*.{jpeg,jpg,png,gif}"`
  );
---

<a href={url} class="team-member-card p-1 md:p-2 max-w-sm">
  <div class="flex rounded-lg h-full bg-slate-200 hover:bg-slate-300 p-1 md:p-2 flex-col">
    <div class="flex justify-center">
      <Image
        src={images[imagePath]()}
        alt={`${name}のアイコン`}
        style={{ borderRadius: '50%' }}
        width={200}
        height={200}
      />
    </div>
    <div class="hidden sm:block md:text-xs break-words font-bold m-2 text-slate-800 text-center">
      <p>{name}</p>
    </div>
  </div>
</a>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // team-member-cardクラスのリンクをクリックしたときに新しいタブで開く
    const links = document.querySelectorAll('a');
    links.forEach((link) => {
      if (!link.classList.contains('team-member-card')) return;
      link.addEventListener('click', (e) => {
        e.preventDefault();
        window.open(link.href, '_blank');
      });
    });
  });
</script>
