---
import Icon from 'astro-icon';

export interface UpdateItem {
  date: string;
  text: string;
  link?: string;
  internalLink?: string;
}

export interface UpdatesProps {
  highlight: string;
  title: string;
  items: UpdateItem[];
}

const { highlight, title, items } = Astro.props as UpdatesProps;
---

<section class="bg-slate-100 py-10 md:py-14">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="mb-10 md:mx-auto text-center md:mb-12 max-w-3xl">
      <p class="text-base dark:text-blue-200 font-semibold tracking-wide uppercase">{highlight}</p>
      <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4">{title}</h2>
    </div>
    <div class="space-y-1 px-4">
      {
        items.map((update) => (
          <div class="update-item">
            <p class="text-lg font-medium flex items-center">
              <span class="font-bold mr-6">{update.date}</span>
              {update.link && (
                <a href={update.link} target="_blank" rel="noopener noreferrer" class="flex items-center">
                  {update.text}
                  <Icon name="tabler:external-link" class="w-4 h-4 ml-2" />
                </a>
              )}
              {update.internalLink && (
                <a href={update.internalLink} class="flex items-center">
                  {update.text}
                  <Icon name="tabler:link" class="w-4 h-4 ml-2" />
                </a>
              )}
              {!update.link && !update.internalLink && (
                <span>{update.text}</span>
              )}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
