---
import axios from 'axios';
import SessionInfo from './SessionInfo.astro';
import { getForteeApiUrl } from '../../utils/fortee';
import { type PEKProposalList } from '../../types';

const { data } = await axios.get<PEKProposalList>(
  getForteeApiUrl(2025)
);
const sessionsList = data.proposals;

---

<section class="py-12">
  <div class="container mx-auto px-4">
    <div class="text-center space-y-4 mb-12">
      <h2 class="text-3xl md:text-4xl font-bold text-pek2025-primary-600">プロポーザル一覧</h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        sessionsList.length > 0 ? (
          sessionsList
            // プロポーザル募集中はコメントアウト
            // .filter((session) => session.accepted === true)
            .map((session) => (
              <SessionInfo
                id={session.uuid}
                url={session.url}
                title={session.title}
                abstract={session.abstract}
                speaker={session.speaker}
              />
            ))
        ) : (
          <div class="col-span-full px-8 py-12 flex flex-col items-center justify-center bg-white rounded-xl border border-gray-100">
            <h6 class="text-2xl font-bold text-pek2025-primary-700 mb-2">プロポーザル募集中</h6>
            <p class="text-gray-600 text-center mb-4">
              PEK2025のプロポーザルを募集しています。<br />
              みなさまのご応募をお待ちしています！
            </p>
            <a
              href="https://fortee.jp/platform-engineering-kaigi-2025/proposal/callfor"
              class="inline-block px-6 py-2 bg-pek2025-primary-600 text-white rounded hover:bg-pek2025-primary-700 transition"
              target="_blank" rel="noopener noreferrer"
            >
              プロポーザル応募はこちら
            </a>
          </div>
        )
      }
    </div>
  </div>
</section>
