---
import './styles.css';
import CustomStyles from '~/components/CustomStyles.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import { SITE } from '~/config.mjs';
import type { PEKMetaSEO } from '~/types';
import { GoogleAnalytics } from '@astrolib/analytics';
import { AstroSeo } from '@astrolib/seo';

export interface Props {
  meta?: PEKMetaSEO;
}

const { language = 'ja', textDirection = 'ltr', googleAnalyticsId, googleSiteVerificationId } = SITE;
const { meta } = Astro.props;
const { title, description, imagePath, useTitleTemplate = true } = meta || {};
const canonicalURL = new URL(Astro.url.pathname, 'https://www.cnia.io');
const path = imagePath ? imagePath : '/pek2025_ogp.png';
const ogpImageURL = new URL(path, canonicalURL);
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <AstroSeo
      title={title ? title : 'Platform Engineering Kaigi 2025'}
      titleTemplate={useTitleTemplate ? '%s | Platform Engineering Kaigi 2025' : undefined}
      description={description ? description : 'Platform Engineering Kaigi 2025'}
      canonical={canonicalURL.href}
      openGraph={{
        url: canonicalURL.href,
        title: title ? title : 'Platform Engineering Kaigi 2025',
        description: description ? description : 'Platform Engineering Kaigi 2025',
        site_name: 'Platform Engineering Kaigi 2025',
        images: [
          {
            url: ogpImageURL.href,
            alt: title ? title : 'Platform Engineering Kaigi 2025',
          },
        ],
      }}
      twitter={{
        handle: '@cnia_pfem',
        site: '@cnia_pfem',
        cardType: 'summary_large_image',
      }}
    />

    <meta name="google-site-verification" content={googleSiteVerificationId} />
    {(<GoogleAnalytics id={String(googleAnalyticsId)} partytown={true} />)}

    <CustomStyles />
    <link rel="icon" href="/pek_trademark.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet" />
  </head>

  <body class="font-sans pek2025-page bg-pek2025-primary-50">
    <slot />
    <BasicScripts />
  </body>
</html>
